@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme("colors.primaryText");
  /* background-color: theme("colors.mainBg"); */
}

/* Typography */
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 28px;
}

a,
button {
  transition: 0.3s;
}
a.button-link:focus,
a.button-link:hover {
  outline: none;
  background-color: theme("colors.primaryTransparency");
}

/* Buttons */
/* primary buttons */
.primary-btn {
  background-color: theme("colors.primary");
  color: #fff;
  border-radius: 30px;
  padding: 6px 14px;
  font-weight: 600;
  border: 2px solid theme("colors.primary");
  width: fit-content;
  font-size: 0.875rem;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: theme("colors.mainBg");
  color: theme("colors.primary");
}

/* Tabs */
.tabs:before,
.tabs:after {
  position: absolute;
  content: "";
  width: 35%;
  height: 1px;
  background-color: theme("colors.primary");
  top: 50%;
  display: none;
}
.tabs:before {
  left: 0;
}
.tabs:after {
  right: 0;
}

/* Loaders */
/* circle loader */
.circle-loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 4px solid theme("colors.primaryTransparency");
  border-radius: 50%;
  border-top-color: theme("colors.primary");
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

/* Animations */
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Breakpoints */
/* above md (breakpoint used by tailwind) */
@media (min-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .tabs:before,
  .tabs:after {
    display: block;
  }
}
